{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block body %}
<div
  class="p-5 text-center bg-image d-flex justify-content-center align-items-center"
  style="
    background-size: 100% auto;
    background-image: url('https://cdn.pixabay.com/photo/2016/09/15/19/24/salad-1672505_1280.jpg');
    height: 600px;
  "
>
  <div class="mask" style="background-color: rgba(255, 253, 253, 0)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Plan your meals!</h1>
        <a class="btn btn-outline-light btn-lg" href="/register" role="button"
          >Sign Up</a
        >
        <a class="btn btn-outline-light btn-lg" href="/login" role="button"
          >Sign In</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
