{% extends 'base.html.twig' %}

{% block title %}Add New Ingredient to a Recipes{% endblock %}

{% block body %}
    <h1>Add New Ingredient to a Recipes</h1>

    {{ include('ingredient_list/_form.html.twig') }}

    <a href="{{ path('app_ingredient_list_index') }}">back to list</a>
{% endblock %}
